nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
   
}
li{
    list-style-type: none;
    
}